h1{
    font-size: 50px;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}
.user_name{
    color: blueviolet;
}

h1{
    font-size: 50px;
}
span{
    color: orange;
}

.flexible-content {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.flexible-content img {
    width: 100%;
}

#button{
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-image: linear-gradient(blueviolet, rgb(21, 205, 214));
    padding: 10px 40px;
    border-radius: 5px;
    border-radius: 5px;
}

.Home{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}


.drem-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.expreiences_area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#Job-title {
    color: blueviolet;
}

.Job-card{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
}

.Full-Stack {
    border-left: 10px solid blue;
}

.Font-End {
    border-left: 10px solid tomato;
}

footer p{
    text-align: center;
}